body {
    margin: 0px;
}

#fondo {
    background-color: #B3B3B3;
    padding: 15px;
}

#borde {
    border: 5px solid black;
}

header {
    background-color: #ABEAAB;
    padding: 30px;
}

#head1 {
    font-size: 30px;
    color: #880015;
    vertical-align: top;
}

#head2 {
    font-size: 20px;
    color: #84BF8A;
}

#imghead {
    padding-right: 35px;
    float: left;
}

.menu {
    background: #A9D1E8;
}

.menu li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    color: #6186A7;
    border: 1px solid #8EB6CD;
}

nav ul {
    margin: 0px;
    padding: 0px;
}

section {
    background-color: #FFF8C0;
    padding: 20px;
}

section nav {
    background-color: #F8B48A;
}








aside {
    
}